/* VANILLA REACT */
body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}
code {
  color: #ffffff;
  font-size: 4em;
  margin: 7em 0em;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CONTAINERS */
.horizontally-padded-container{
  padding: 2.5em 0em;
}
.card-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.card-header-container{
  display: inline-block;
}
.card-data-container{
  padding-top: 5em;
}
.options-container{
  min-width: 200px;
  width: 30vw;
  margin: 0 auto;
  border: 2px solid #ffffff;
  padding: 1em;
}
.temp-checkbox-line{
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: center;
}

/* COMPONENTS */
.rounded-card{
  background-color: #ffffff;
  border-radius: 30px;
  margin: 0em 2em;
  padding: 5em 0em;
  min-width: 200px;
  width: 30vw;
}
.neat-checkbox{
  margin-right: 10px;
  height: 20px;
  width: 20px;
  background-color: white;
}