/* VANILLA REACT */
body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
}
code {
  color: #ffffff;
  font-size: 4em;
  margin: 7em 0em;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* TAGS */
h1, h2, h3, h4{
  color: #414040;
  padding: 0px;
  margin: 0px;
}
h1 {
  color: #ffffff;
  font-size: 4em;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2{
  font-size: 2.5em;
}
h3{
  font-size: 7em;
}
h4{
  font-size: 1.5em;
  text-decoration: underline;
  color: #ffffff;
}

/* CONTAINERS */
.horizontally-padded-container{
  padding: 2.5em 0em;
}
.card-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.card-header-container{
  display: inline-block;
}
.card-data-container{
  padding-top: 5em;
}
.options-container{
  min-width: 200px;
  width: 30vw;
  margin: 0 auto;
  border: 2px solid #ffffff;
  padding: 1em;
}
.temp-checkbox-line{
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: center;
}

/* TEXT */
.checkbox-text{
  display: inline-block;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
}
.strike{
  text-decoration: line-through;
}

/* COMPONENTS */
.rounded-card{
  background-color: #ffffff;
  border-radius: 30px;
  margin: 0em 2em;
  padding: 5em 0em;
  min-width: 200px;
  width: 30vw;
}
.neat-checkbox{
  margin-right: 10px;
  height: 20px;
  width: 20px;
  background-color: white;
}

/* BUTTONS */
.challenge-button{
  padding: 1em 3em;
  background-color: #61dafb;
  border: 1px solid #61dafb;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 20px;
  outline: none;
}
.challenge-button:hover{
  background-color: #38b9dd;
  border: 1px solid #38b9dd;
}
